

.body-padding {padding: 0.5em 0.5em 5em 0.5em;}

.fl-r {float: right;}
.r-0 {right: 0}

.blog-image {
  height: 30em;
  width: 40em;
}

.f-bld {font-weight: 700;}
.l-tdn {text-decoration: none;}
.fc-bl {color: black}


/* UNUSED TOOLS

.pdg-bpnav {
  margin-right: 0.5em;
  padding-right: 0.5em;
}
/*