

.body-padding {padding: 0.5em 0.5em 5em 0.5em;}

.fl-r {float: right;}
.r-0 {right: 0}

.blog-image {
  height: 30em;
  width: 40em;
}

.blog-image-small {
	height: 10em;
	witdh: 20em;
}

.blog-image2 {
  height: 50%;
  width: 50%;
}

.f-bld {font-weight: 700;}
.l-tdn {text-decoration: none;}
.fc-bl {color: black}


/* UNUSED TOOLS

.pdg-bpnav {
  margin-right: 0.5em;
  padding-right: 0.5em;
}
/*