
body {
  	font-family: 'Roboto', sans-serif;
}





/* HEADER SECTION */

header h2 a {
	color: #222;
	text-decoration: none;
	font-size: 2em;
}

header h2 a span {
	color: #607D8C;
}


.author {
	font-size: 1em;
	padding-top: 1.75em; /* this is a bad hack-fix to quasi-align my name with the bottom of tidbyts */
	margin: 0 0 -2em 0;
	text-align: right;
}

/* HEADER SECTION */

/* 

moving on: i'm not really satisfied with the font size and text
placement of this header section. i'd like to have the 'by' be a bit
larger- and accomplishing this is difficult, which leads me to think
that my css for this section is kinda over-complicated. 

*/

/* BLOCKQUOTE SECTION */

.blockquote {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.5em;
	margin: 3em 0 3em -2em;
	padding: 0 0 0 2em;
	color: #607D8C;
	border-left: 3px solid #607D8C;
}

/* BLOCKQUOTE SECTION */


/* BLOG LINK SECTION */


.date {
	margin-bottom: 1em;
	color: #818181;
}

.title {
	margin-bottom: 1em;
}

article h2 a {
	text-decoration: none;
	color: #222;
	-webkit-transition: color 300ms ease;
 	transition: color 300ms ease;
}

article h2 a:visited {
	text-decoration: none;
	-webkit-transition: color 300ms ease;
 	transition: color 300ms ease;
}

article h2 a:hover {
	color: #607D8C;
}

.teaser {
	margin-bottom: .25em;
}

.link {
	margin-bottom: 2em;

}

.link a {
	/*text-decoration: none;*/
	color: #222;
	-webkit-transition: color 300ms ease;
 	transition: color 300ms ease;
}

.link a:visited {
	text-decoration: none;
	-webkit-transition: color 300ms ease;
 	transition: color 300ms ease;
}

.link a:hover {
	color: #607D8C;
}

/* BLOG LINK SECTION */


footer {
	font-size: 3.5em;
	text-align: center;
}

footer li {
	display: inline-block;
	list-style: none;
}

footer li ul a {
	text-decoration: none;
	color: #222;
}


/* BLOG POST FORMATTING */

.post_title {
	margin: 3em 0 3em 0;
}


p {
  	line-height: 1.3em;
  	text-align: justify;
}

.image-wrapper {
	width: 100%;
	text-align: center;
}

.image-wrapper img {
	max-width: 80%;
}

.blog-image1 {
	height: auto;
	width: 100%;
}

.blog-image2 {
  height: 50%;
  width: 50%;
}

.blog-image3 {
	height: auto;
	width: 33%;
}

.inline_code {
	font-family: monospace;
	font-size: 1.25em;
	font-weight: 300;
	background-color: #C9D4DA;
	border-radius: 5px;
}

.sub-headings {
	font-weight: 700;
}

p span {
	font-weight: 700;	
}

pre {
	background-image: url(./../imgs/bgc_ideas/crumply_paper.jpg);
	width: 100%;
	border-radius: 5px;
}



